ul {
    list-style-type: none;
    padding-left: 30px;
}

.content {
    display: block;
    justify-content: start;
}

.bold {
    font-weight: 900;
}

li {
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 768px) {
    li {
        padding: 8px;
    }
}